<section class="section">
  <div class="page-width content-width stack" role="banner">
    <h1>{{ section.settings.heading | default: 'Opening soon' }}</h1>
    {% if section.settings.subheading != blank %}
      <p>{{ section.settings.subheading }}</p>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Password Header",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Opening soon"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "We are preparing our store for launch."
    }
  ],
  "presets": [
    {
      "name": "Password Header"
    }
  ]
}
{% endschema %}
