<section class="section">
  <div class="page-width content-width stack">
    {% render 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
    <div class="rte">{{ page.content }}</div>
  </div>
</section>

{% schema %}
{
  "name": "Main Page",
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Page"
    }
  ]
}
{% endschema %}
