<section class="section">
  <div class="page-width content-width stack" role="contentinfo">
    <p class="muted">{{ section.settings.text | default: 'Powered by Shopify' }}</p>
  </div>
</section>

{% schema %}
{
  "name": "Password Footer",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Footer text",
      "default": "Powered by Shopify"
    }
  ],
  "presets": [
    {
      "name": "Password Footer"
    }
  ]
}
{% endschema %}
