{% if item %}
  <article class="card result-card stack">
    <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
    {% if item.object_type == 'product' %}
      <p>{{ item.price | money }}</p>
    {% else %}
      <p>{{ item.content | strip_html | truncate: 120 }}</p>
    {% endif %}
  </article>
{% endif %}
